
/* Styling af body element */
body{
    font-family: "Tilt Warp", sans-serif; /* skrifttypen til tilt wrap og sans serif som backup */
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 
      "YROT" 
  }
  /* Styling af baggrundsbillede */
  .background-image {
    background: url('../img/billede-forside.webp') no-repeat center center/cover;/* at billedet fylder hele området */
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1; /* gør at baggrundsbilledet er bag andre elementer */
}
/* Styling af headeren */
.header {
    display: flex; 
    justify-content: space-between; /* Fordeler pladsen jævnt mellem elementerne */
    align-items: center; 
    padding: 10px 30px;
    background: black;
}
/* flytter event details 420 px op */
.event-details {
    transform: translateY(-420px);
}

.event-details {
    text-align: center; /* Centrér teksten og divideren */
    margin: 0 auto; 
}
/* Her ses styling af overskirften */
.event-details h1 {
    font-size: 48px; /* Størrelsen af overskriften */
    font-weight: bold; /* Gør teksten fed */
    margin-bottom: 10px; /* Mellemrum mellem tekst og divider */
    line-height: 1.2; 
}

/* Her ses divider der ses under teksten */
.event-details .divider {
    width: 50%; /* Dividerens bredde */
    height: 2px; 
    background: white; 
    margin: 0 auto; 
    border: none; 
}


/* Her er styling af Search Bar  */
.search-bar {
    flex: 0 0 auto; 
    display: flex; 
    align-items: center; /* Centrer søgefeltet vertikalt */
    gap: 5px; 
}
/* Her er styling af tekstfeltet  */
.search-bar input {
    width: 200px; 
    padding: 5px 10px; /* indenvendig mellemrum  */
    border: 1px solid white; /* hvid kant omkring feltet  */
    border-radius: 5px 0 0 5px;
    background: transparent; /* gør baggrunden gennemsigtig */
    color: white; /* Hvid tekstfarve  */
    font-size: 14px; /* tekststørelsen  */
}
/* her ses styling af pladsholder tekst i inputfeltet */
.search-bar input::placeholder {
    color: white; /* gør teksten hvid */
    opacity: 0.8;  /* gør teksten gennemsigtig  */
}
/* Her er styling af søgeknappen i Search Bar-sektionen  */
.search-bar button {
    padding: 5px 10px;
    border: 1px solid white; /* Hvid kant omkring knappen   */
    border-left: none;
    background: white; /* baggrundsfarve til hvid  */
    color: black; /* tekstfarven til sort  */
    font-size: 14px; /* teskststørrelsen */
    border-radius: 0 5px 5px 0; /* afrunder sidens knap  */
    cursor: pointer; /* ændre musen til hånd ved hoover  */
    transition: background 0.3s ease; /* gør der er overgang i baggrundændringen  */
}

.search-bar button:hover {
    background: gray;/* ændre baggrunden til grå  */
}

/* genrel styling af siden  */
body {
    margin: 0;
    color: white; /* standard tekstfarve til hvid  */
    background-color: black;
}
/* Styling af header sektionen  */
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Centrerer elementerne */
    padding: 10px 30px; /* Juster afstand rundt om headeren */
    background: black; /* ændre baggrunden til sort  */
}
/* Styling af logo i headeren  */
.logo img {
    display: flex;
    width: 100px; /* logo bredde til 100px */
    margin-right: 20px; /* mellemrum til højre for logoet  */
}

   /* Styling af Burgermenu */
   .menu-toggle {
    display: none; /* Skjuler den  */
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 20;
}
/* Styling af linjerne i burgermenuen */
.burger span {
    width: 25px;
    height: 3px;
    background: white;
}

/* Flytter ul listen 50% ned */
ul {
    transform: translateY(50%);
}
/* Styling af nav listen ul */
.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
/* Styling af nav listen li */
.nav ul li {
    display: flex;
    justify-content:space-evenly ;
    margin: 0 4px;
    padding: 0;
    margin-left: 5rem;
    margin-top: 2rem;
}
/* Styling af links i navigationen */
.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}
.nav a:hover {
    color: gray; /* Skifter til grå ved hover */
}
/* Styling af hovedindholdet */
.main-content {
    margin-top: 70px;
    position: relative;
    text-align: center;
}
/* Styling af overlay effekten */
.overlay {
    position: absolute;
    top: 0; /* overlayen starter fra toppen */
    left: 0; /* overlayen starter fra venstre */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* baggrunden sort med en 50% gennemsigtighed */
}
/* Styling af det centrale indhold */
.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* justere indholdet opad */
}
/* Styling af paragrafen indenfor content */
.content p {
    font-size: 18px;
    font-weight: bold;
}
/* Styling af footeren */
    footer {
    color: white;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    padding: 20px 0;
    line-height: 1.3;
    bottom: 0; /* Placerer footeren i bunden  */
    left: 0 /* Placerer footeren i venstre kant */
}

/* Hvid skillelinje over footeren */
.footer-divider {
    width: 110%;    /* Mindre end fuld bredde for pæn margin */
    height: 2px;
    background: white;
    margin: 0 auto 10px;  /* Centrer og tilføj afstand til indhold */
}

/* Logo sektion */
.logo img {
    width: 120px;   /* Juster logo-størrelse */
    margin-bottom: -10px;
}
/* Styling for links der besøgt */
a:visited {
    color: white;  /* farven til hvid på besøgte links */
}
/* Styling af adresse i footeren */
.footer-address {
    color: white; /* tekstfarven til hvid */
    text-decoration: none;
    font-size: 14px;   /* tekststørrelsen til 14px */
    display: block;
    margin-bottom: -10px;
    margin: 5px 0;
    transform: translateY(-90px); /* flytter adressen 90% opad */
}

/* Styling af socials */
.socials a img {
    width: 30px;  /* Mindre ikonstørrelse */
    margin: 0 5px;
    margin-bottom: -50px;
}
/* Styling af socials */
.socials {
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Fjern standard link-styling */
a {
    text-decoration: none; /* fjerner understregning af links */
    transform: translateY(-25px); /* flytter linket opad med 25px */
}
/* Styling af paragraf */
p{
    font-weight: bold;
    font-size: large;
    color: white;
}
/* Styling af social medie sektionen */
section.socials {
    display: flex;
    flex-direction: row-reverse;
    transform: translateY(-120px);
    gap: 10px;
}
/* Styling af logo */
section.logo{
     display: block;
     height: auto;
     width: 50px;
    }


    
 /* Responsive Styles for ipad */
@media (max-width: 1024px) {
    .nav ul {
        gap: 1.5rem;
        justify-content: space-between;
    }
    .search-bar {
        display: none; /* Skjuler søgebaren på skærme under 1024px */
    }
}

/* Responsive Styles for skærme mindre end 900px bredde */
@media (max-width: 900px) {
    .nav ul {
        gap: 1rem; /* Mindsker afstanden mellem nav punkterne */
        justify-content: space-around;
    }
}

        /* Responsive Styles for iphone */
    @media (max-width: 768px) {
        .layout {
            grid-template-columns: 1fr; /* ændre grid layoutet til en kolonne */
            gap: 10px; /* mellemrum mellem dem */
        }
    
        .burger {
            display: flex; /* gør burgermenuen synlig */
        }
    
        .menu-toggle {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px; /* breden og højden på menu toggle */
            height: 50px;
            opacity: 0;
            z-index: 30; /* gør knappen ligger øverst */
            cursor: pointer;
        }
    
        .nav ul {
            display: none; /* skjuler nav menuen */
            flex-direction: column;
            background: white;
            position: absolute;
            top: 70px;
            right: 10px;
            width: 200px;
            text-align: left;
            padding: 10px;
            border: 1px solid black;
            z-index: 30;
        }
    
        /* Vis nav menuen, når menu-toggle er aktiveret */
        .menu-toggle:checked + .burger + .nav ul {
            display: flex; 
        }
    
        .nav ul li {
            margin: 10px 0; /* mellemtum mellem listepunkt */
        }
    
        .nav a {
            color: black; /* tekstfarven sor */
            width: 100%;
            display: block;
            z-index: 50; /* sikrer, at links er øverst i menuen */
        }
    }